/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.content {
  flex: 1;
  padding-bottom: 75px;
}
